@charset "UTF-8";


body {
    background-image: linear-gradient(to top, var(--verde), var(--lilas));
}

main {
    height: 300px;
    width: 90vw;
}

div#imagem {
    height: 100%;
    width: 35%;
    float: left;
}

section {
    width: 62%;
    float: right;
}

